[client]
default-character-set = utf8mb4

[mysqld]
innodb_file_per_table = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
pid_file = /usr/local/mysql/data/mysqld.pid

[mysql]
default-character-set = utf8mb4
